section(data-background="#3CC8AE")
  h1 Plugins

  section
    p JavaScript
    pre
      code(class="javascript").
        var concat = require("gulp-concat");

        gulp.task('mytask', function() {
          return gulp.src('src/scripts/**/*.js')
            .pipe(concat('main.js'))
            .pipe(gulp.dest('dist/assets/js'))
        });

