section
  h1 Gulp.js
  img(src='images/gulp.svg', class="undecorated" style="float:left; padding: 1em;")
  p(style="margin-top: 2em;margin-bottom:2em;") Getting started with the streaming build system.
  p by Michael Uzquiano.<br/>&nbsp;&nbsp; Murphy Randle.
  a(href="https://github.com/ClevelandJavaScript/grunt-and-gulp") github.com/ClevelandJavaScript/grunt-and-gulp
